<h1>New product</h1>

<%= form_for (@product) do |f| %>
<% if @product.errors.any? %>
  <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="field">
  <%= f.label :title %> <br/>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :description %> <br/>
  <%= f.text_field :description, :row => 6 %>
</div>

<div class="field">
  <%= f.label :image_url %> <br/>
  <%= f.text_field :image_url %>
</div>

<div class="field">
  <%= f.label :price %> <br/>
  <%= f.text_field :price %>
</div>

<div class="actions">
<%= f.submit  %>
</div>

<% end %>
<%= link_to 'Back', products_path %>
